
@font-face {
	font-family: 'Arame Mono';
	src: url('../css/fonts/ArameMono-Bold.eot');
	src: local('../css/fonts/Arame Mono Bold'), local('ArameMono-Bold'),
		url('../css/fonts/ArameMono-Bold.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ArameMono-Bold.woff') format('woff'),
		url('../css/fonts/ArameMono-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Arame Mono';
	src: url('../css/fonts/ArameMono-Thin.eot');
	src: local('../css/fonts/Arame Mono Thin'), local('ArameMono-Thin'),
		url('../css/fonts/ArameMono-Thin.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ArameMono-Thin.woff') format('woff'),
		url('../css/fonts/ArameMono-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Arame Mono';
	src: url('../css/fonts/ArameMono.eot');
	src: local('../css/fonts/Arame Mono'), local('ArameMono'),
		url('../css/fonts/ArameMono.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ArameMono.woff') format('woff'),
		url('../css/fonts/ArameMono.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Arame';
	src: url('../css/fonts/Arame-Bold.eot');
	src: local('../css/fonts/Arame Bold'), local('Arame-Bold'),
		url('../css/fonts/Arame-Bold.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/Arame-Bold.woff') format('woff'),
		url('../css/fonts/Arame-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Arame';
	src: url('../css/fonts/Arame.eot');
	src: local('../css/fonts/Arame'),
		url('../css/fonts/Arame.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/Arame.woff') format('woff'),
		url('../css/fonts/Arame.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Arame';
	src: url('../css/fonts/Arame-Stencil.eot');
	src: local('../css/fonts/Arame Stencil'), local('Arame-Stencil'),
		url('../css/fonts/Arame-Stencil.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/Arame-Stencil.woff') format('woff'),
		url('../css/fonts/Arame-Stencil.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Arame';
	src: url('../css/fonts/Arame-Thin.eot');
	src: local('../css/fonts/Arame Thin'), local('Arame-Thin'),
		url('../css/fonts/Arame-Thin.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/Arame-Thin.woff') format('woff'),
		url('../css/fonts/Arame-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Arame Mono';
	src: url('../css/fonts/ArameMono-Stencil.eot');
	src: local('../css/fonts/Arame Mono Stencil'), local('ArameMono-Stencil'),
		url('../css/fonts/ArameMono-Stencil.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ArameMono-Stencil.woff') format('woff'),
		url('../css/fonts/ArameMono-Stencil.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
    font-family: 'Blender Pro Book';
    src: url('../css/fonts/BlenderPro-Book.eot');
    src: url('../css/fonts/BlenderPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/BlenderPro-Book.woff2') format('woff2'),
        url('../css/fonts/BlenderPro-Book.woff') format('woff'),
        url('../css/fonts/BlenderPro-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro';
    src: url('../css/fonts/BlenderPro-Bold.eot');
    src: url('../css/fonts/BlenderPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/BlenderPro-Bold.woff2') format('woff2'),
        url('../css/fonts/BlenderPro-Bold.woff') format('woff'),
        url('../css/fonts/BlenderPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
